<!DOCTYPE html>
<html>
  <head>
    <title>TakeMyPhone | <%= yield(:title) %></title>
    <meta name="Description" CONTENT="TakeMyPhone.com is an online portal for individuals to sell their old smartphones. We offer best price for your old smartphone.">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <!-- <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>  -->
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>